<%= form_for(@sales_ad) do |f| %>
  <% if @sales_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_ad.errors.count, "error") %> prohibited this sales_ad from being saved:</h2>

      <ul>
      <% @sales_ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :user_type %><br />
    <%= f.text_field :user_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
