<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :waste_origin %><br />
  <%= f.text_field :waste_origin %>
</div>
<div class="field">
  <%= f.label :details %><br />
  <%= f.text_field :details %>
</div>