<div class="padrao_box">

<div class="form_padrao">
<h2>Logar</h2>
<br>
<section class="login login_fisica">
  <h4>Pessoa Fisica</h4>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email, :style => "font-weight:bold;" %><br />
    <%= f.email_field :email, :style => "width: 300px; height:30px; border:1px solid #00a0db;",:placeholder => "digite o seu email", :autofocus => true %></div>

    <div><%= f.label :senha, :style => "font-weight:bold;" %><br />
    <%= f.password_field :password, :style => "width: 300px; height:30px; border:1px solid #00a0db;",:placeholder => "sua senha" %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Logar", :style => "width:250px; height:30px; background:#00a0db; border:0px; color:white; padding:5px;" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>

<section class="login login_juridica">
  <h4>Pessoa Juridica</h4>
  <%= form_for(resource_entity, :as => resource_name_entity, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email, :style => "font-weight:bold;" %><br />
    <%= f.email_field :email, :style => "width: 300px; height:30px; border:1px solid #00a0db;",:placeholder => "digite o seu email", :autofocus => true %></div>

    <div><%= f.label :senha, :style => "font-weight:bold;" %><br />
    <%= f.password_field :password, :style => "width: 300px; height:30px; border:1px solid #00a0db;",:placeholder => "sua senha" %></div>

    <% if devise_mapping_entity.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Logar", :style => "width:250px; height:30px; background:#00a0db; border:0px; color:white; padding:5px;" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>

</div>

</div>