<%= form_for(@purchasing_ad, :html => { :multipart => true }) do |f| %>
  <% if @purchasing_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchasing_ad.errors.count, "error") %> prohibited this purchasing_ad from being saved:</h2>

      <ul>
      <% @purchasing_ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="span4">
    <div class="name_category">
      1
    </div>
    <div class="title_details" style="display:none">
      2
    </div>
    <div class="waste_transportation_address" style="display:none">
      3
    </div>
    <div class="price_contract" style="display:none">
      4
    </div>
  </div>
  <div class="span7">
    <div class="name_category">
      <h5>Escolha o residuo que deseja anunciar</h5>
      <div class="field">
        <%= f.label "Categoria:" %>
        <%= f.select :category_id, [["Selecione uma categoria de resíduo", 0]]+ @categories.collect { |c| [c.name, c.id]}  %>
      </div>
      <div class="categorias field">
        <%= f.label :waste_name, "Escolha um resíduo" %>
        <ul id="myTags"></ul>
      </div>
      <div class="categorias field">
        <%= f.label :waste_name, "Ou escreva seu próprio resíduo:" %>
        <ul id="purchasing_ad_waste_name" name="purchasing_ad[waste_name]" ></ul>
      </div>
      <div>
        <%= link_to "Avançar", "#", :class => "btn btn-primary name_category_btn" %>
      </div>
    </div>
    <div class="title_details" style="display:none">
      <h5>1/5. TÍTULO E DESCRIÇÃO</h5>
      <div class="field">
        <%= f.label :title, "Título:" %>
        <%= f.text_field :title, :class => "span6" %>
      </div>
      <div class="field">
        <%= f.label :waste_origin, "Qual a origem desse resíduo:" %>
        <% [ 'Pós-indústria', 'Pós-consumo', 'Outros' ].each do |waste_origin| %>
          <br><%= f.radio_button :waste_origin, waste_origin %>
          <%= waste_origin.humanize %>
        <% end %>
      </div>
      <br>
      <div class="field">
        <%= f.label :details, "Detalhes:" %>
        <%= f.text_area :details, :placeholder => "Fale sobre o seu resíduo, diga se é sujo,
   limpo, prensado, misto, etc", :class => "span6", :style => "height:180px;" %>
      </div>
      <div>
        <%= link_to "Avançar", "#", :class => "btn btn-primary title_details_btn" %>
      </div>
    </div>

    <div class="waste_transportation_address" style="display:none">
      <h5>2/5. AMOSTRA, TRANSPORTE E ENDEREÇO DO RESÍDUO</h5>
      <div class="field">
        <%= f.label :today_waste, "O que é feito atualmente com o residuo atualmente?" %>
        <%= f.text_area :today_waste, :style => "width: 540px;
height: 180px;" %>
      </div>
      <div class="field">
        <%= f.label :transportation_sample, "Transporte e Amostras:" %>
        <label class="label_normal">&nbsp;<%= f.check_box :transportation_sample %>
        Disponibliza Transporte para esse resíduo?
        </label>
        <label class="label_normal">&nbsp;<%= f.check_box :transportation_sample  %>
        Necessita de amostra para esse resíduo?
        </label>
      </div>
      <br>
      <div class="field">
        <%= f.label :same_address, "Endereço do resíduo:" %>
        <label class="label_normal">
        <%= f.radio_button :same_address, true, :class=>"same_address" %>&nbsp;Mesmo Endereço Cadastrado</label>
        <label class="label_normal">
        <%= f.radio_button :same_address, false, :class=>"other_address" %>&nbsp;Outro Endereço</label>
      </div>
      <div class="show_address" style="display:none;">
        <div class="field">
          <%= f.label :waste_address %>
          <%= f.text_field :waste_address %>
        </div>
        <div class="field">
          <%= f.label :postal_code %>
          <%= f.text_field :postal_code %>
        </div>
        <div class="field">
          <%= f.label :address_complete %>
          <%= f.text_field :address_complete %>
        </div>
        <div class="field">
          <%= f.label :district %>
          <%= f.text_field :district %>
        </div>
        <div class="field">
          <%= f.label :state %>
          <%= f.text_field :state %>
        </div>
        <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>
      </div>
      <div>
        <%= link_to "Avançar", "#", :class => "btn btn-primary waste_transportation_address_btn" %>
      </div>
    </div>

    <div class="price_contract" style="display:none">
      <h5>3/5. PREÇO, QUANTIDADE E FREQUÊNCIA</h5>
      <div style="margin-left:0px;" class="field span3">
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
      </div>
      <div class="field span3">
        <%= f.label :unit %>
        <%= f.text_field :unit %>
      </div>
      <div style="margin-left:0px;" class="field span3">
        <%= f.label :unit_price %>
        <%= f.text_field :unit_price %>
      </div>
      <div class="span3 field">
        <%= f.label :total_price %>
        <%= f.text_field :total_price %>
      </div>
      <div class="field span7">
        <%= f.label :show_price %>
        <label>Não</label>
        <%= f.radio_button :show_price, false %>
        <label>Sim</label>
        <%= f.radio_button :show_price, true %>
      </div>
      <div class="field span7">
        <%= f.label :frequency_removal_waste %>
        <%= f.text_field :frequency_removal_waste %>
      </div>
      <div class="field span7">
        <%= f.label :contract_time %>
        <%= f.text_field :contract_time %>
      </div>
      <div>
        <%= link_to "Avançar", "#", :class => "btn btn-primary price_contract_btn" %>
      </div>
    </div>
    <div class="pictures" style="display:none">
      <div class="field span7">
        <%= f.label :picture %>
        <%= f.file_field :picture %>
      </div>
      <div class="field span7">
        <%= f.label :picture_details %>
        <%= f.file_field :picture_details %>
      </div>
      <div class="field span7">
        <%= f.label :picture_greatness %>
        <%= f.file_field :picture_greatness %>
      </div>
      <div class="field span7">
        <%= f.label :picture_extra %>
        <%= f.file_field :picture_extra %>
      </div>
      <div class="span7 actions">
        <%= f.submit "Finalizar", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('.other_address').on('change',function(){
        $('.show_address').show('low');
      });
      $('.same_address').on('change', function(){
        $('.show_address').hide('low');
      });
      $('.name_category_btn').on('click',function(){
        $('.name_category').hide('low');
        $('.title_details').show('low');
      });
      $('.title_details_btn').on('click',function(){
        $('.title_details').hide('low');
        $('.waste_transportation_address').show('low');
      });
      $('.waste_transportation_address_btn').on('click', function(){
        $('.waste_transportation_address').hide('low');
        $('.price_contract').show('low');
      });
      $('.price_contract_btn').on('click', function(){
        $('.price_contract').hide('low');
        $('.pictures').show('low');
      });
    });
    $("#purchasing_ad_category_id").change(function(){
      $.ajax({
        url: "/done",
        dataType: 'json',
        beforeSend: function() { console.log("Começa") },
        data: {
          id:$(this).val(),
        },
        success: function(data) {
          $("#myTags").tagit();
          $("#myTags").find('li').remove();
          $('.categorias').show('low');
          $.each(data,function(key,value){
            console.log(key+" - "+value.id + " - "+value.name+" ...")
            $("#myTags").append("<li class='tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-read-only' id="+value.id+">"+value.name+"</li>");
          })
        }
      });
    });
    $("#purchasing_ad_category_id").bind("ajaxComplete", function(){
      $('#purchasing_ad_waste_name').tagit();
      $('#myTags li').on('click',function(){
        var thisid = $(this).attr('id')
        var thistext = $(this).text()
        console.log(thisid + thistext);
        $('#purchasing_ad_waste_name').prepend("<li class='tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-read-only' id="+thisid+">"+thistext+"</li>")
        $('#purchasing_ad_title').val("Compro "+thistext)
      });
    });
    
  </script>
<% end %>
