<div class="field">
  <%= f.label :quantity %><br />
  <%= f.text_field :quantity %>
</div>
<div class="field">
  <%= f.label :unit %><br />
  <%= f.text_field :unit %>
</div>
<div class="field">
  <%= f.label :unit_price %><br />
  <%= f.text_field :unit_price %>
</div>
<div class="field">
  <%= f.label :total_price %><br />
  <%= f.text_field :total_price %>
</div>
<div class="field">
  <%= f.label :show_price %><br />
  <%= f.text_field :show_price %>
</div>
<div class="field">
  <%= f.label :frequency_removal_waste %><br />
  <%= f.text_field :frequency_removal_waste %>
</div>
<div class="field">
  <%= f.label :contract_time %><br />
  <%= f.text_field :contract_time %>
</div>