<h5>Escolha o residuo que deseja anunciar</h5>
<div class="field">
  <%= f.label "Categoria:" %>
  <%= f.select :category_id, [["Selecione uma categoria de resíduo", 0]]+ @categories.collect { |c| [c.name, c.id]}  %>
</div>
<div class="categorias field">
  <%= f.label :waste_name, "Escolha um resíduo" %>
  <ul id="myTags"></ul>
</div>
<div class="categorias field">
  <%= f.label :waste_name, "Ou escreva seu próprio resíduo:" %>
  <%= f.text_field :waste_name %>
</div>
<script>
  $().ready(function(){
    $("#myTags").tagit();
  });
  $('#myTags li').on('click',function(){
    alert('ei')
  });
  $("#purchasing_ad_category_id").change(function(){
    $.ajax({
      url: "/done",
      dataType: 'json',
      beforeSend: function() { alert("Começa") },
      data: {
        id:$(this).val(),
      },
      success: function(data) {
        $("#myTags").find('li').remove();
        $('.categorias').show();
        $.each(data,function(key,value){
          console.log(key+" - "+value.id + " - "+value.name+" ...")
          $("#myTags").append("<li class='tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-read-only' id="+value.id+">"+value.name+"</li>");
          
        })
        $("#myTags").tagit();
      }
    });
  });
</script>