<section id="sidebar_an">
  <span>
    Violeiro
  </span>
</section>
<section id="content_an">
  <h1>Anuncios</h1>
  <ul id="item_list">
    <% @purchasing_ads.each do |purchasing_ad| %>
      <li class="buy">
        <span class="item_type" style="">Compro</span>
        <%= link_to purchasing_ad, :class=>"a_img" do %>
          <%= image_tag purchasing_ad.picture_url(:thumb) if purchasing_ad.picture? %>
        <% end %>
        <h3 class="item_name">
          <%= link_to purchasing_ad.title, purchasing_ad %>
        </h3>
        <span class="item_description">
          <%= purchasing_ad.details %>
        </span>
        <span class="item_details">
          <strong><%= purchasing_ad.total_price %></strong><br>
          <p><%= purchasing_ad.quantity %>/<%= purchasing_ad.unit %></p><br>
          <p><%= purchasing_ad.city %>-<%= purchasing_ad.state %></p>
        </span>
      </li>
    <% end %>
  </ul>
</section>