<section id="sidebar_an">
  <span>
    Violeiro
  </span>
</section>
<section id="content_an">
  <h1>Anuncios</h1>
  <ul id="item_list">
    <% @purchasing_ads.each do |purchasing_ad| %>
      <li class="buy">
        <span class="item_type" style="">Compro</span>
        <%= link_to purchasing_ad do %>
          <%= image_tag purchasing_ad.picture_url(:thumb) if purchasing_ad.picture? %>
        <% end %>
        <%= purchasing_ad.title %>
        <%= purchasing_ad.category_id %>
        <%= purchasing_ad.user_type %>
      </li>
    <% end %>
  </ul>
</section>