<section id="sidebar_an">
  <span>
    Violeiro
  </span>
</section>
<section id="content_an">
  <p id="notice"><%= notice %></p>
  <p id="category_link">
    <%= link_to @purchasing_ad.category.name, "/"%>/<%= link_to @purchasing_ad.category.tag_list.first, "/"%>
  </p>
  <article id="item_overview" class="buy">
    <span id="item_type" style="">Compro</span>
    <h2 id="item_title">
      <span><%= @purchasing_ad.title %></span>
      <span id="item_location">(<%= @purchasing_ad.city %>-<%= @purchasing_ad.state %>)</span>
    </h2>
    <div id="item_picture">
      <div id="item_picture_main">
        <%= image_tag @purchasing_ad.picture_url(:throbber) if @purchasing_ad.picture? %>
      </div>
    </div>
    <p>
      <b>Category:</b>
      <%= @purchasing_ad.category_id %>
    </p>

    <p>
      <b>User type:</b>
      <%= @purchasing_ad.user_type %>
    </p>
  </article>
</section>
